@-ms-viewport {
  width: device-width;
}

body {
  font-family: sans-serif;
  margin: 0;
  -ms-content-zooming: none;
  touch-action: none;
}

.demo-header {
  background-color: #333;
  height: 34px;
  padding: 8px 20px 0;
}

.demo-title {
  color: #999;
  float: left;
  font-weight: bold;
  font-size: 13px;
  padding: 4px 0;
}

.demo-config {
  float: right;
}

.demo-edit-btn {
  border: 1px solid rgb(59, 100, 127);
  border-radius: 2px;
  color: #f0f0f0;
  background-color: #555;
  font-size: 12px;
  font-weight: bold;
  margin-left: 24px;
  padding: 5px 6px;
  text-transform: uppercase;
  width: 54px;
}

.demo-edit-btn:hover {
  background-color: rgb(59, 100, 127);
  cursor: pointer;
}

.demo-edit-btn.editing {
  background-color: rgb(20, 103, 157);
  border-color: rgb(20, 103, 157);
}

.demo-config input[type="number"] {
  background-color: #555;
  border: none;
  color: white;
  padding: 3px 6px;
  margin-left: 5px;
  max-width: 42px;
}

.demo-config label {
  color: white;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.demo-config input+label {
  margin-left: 12px;
}

.demo-grid {
  background-color: #f0f0f0;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
}

.demo-grid-dimensions {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #e0e0e0;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  z-index: 15;
}

.demo-greeting {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 700;
  margin: 20px;
}

@media (max-width: 699px) {
  input#columns,
  label[for="columns"],
  input#rows,
  label[for="rows"] {
    display: none;
  }
}
