@-ms-viewport {
  width: device-width;
}

html, body {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -ms-content-zooming: none;
  touch-action: none;
}

.demo-header {
  background-color: #333;
  padding: 0 20px;
}

.demo-title {
  color: #999;
  display:inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 42px;
  text-decoration: none;
}

.demo-config {
  float: right;
  line-height: 40px;
}

.demo-edit-btn {
  background-color: rgb(59, 100, 127);
  border: none;
  border-radius: 2px;
  color: #f0f0f0;
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 26px;
  margin-left: 24px;
  text-transform: uppercase;
  vertical-align: middle;
  width: 66px;
}

.demo-edit-btn:hover {
  background-color: rgb(22, 97, 146);
  cursor: pointer;
}

.demo-edit-btn.editing {
  background-color: rgb(20, 103, 157);
}

.demo-config input[type="number"] {
  background-color: #555;
  border: none;
  color: white;
  padding: 3px 6px;
  margin-left: 5px;
  max-width: 42px;
}

.demo-config label {
  color: white;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.demo-config input+label {
  margin-left: 12px;
}

.demo-grid {
  background-color: #E5E5E5;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
}

.demo-grid-dimensions {
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  color: #e0e0e0;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
  position: absolute;
  z-index: 15;
}

.demo-greeting {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
}

@media (max-width: 699px) {
  .hidden-xs {
    display: none;
  }
}
