@-ms-viewport {
  width: device-width;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  -ms-content-zooming: none;
  touch-action: none;
}

.demo-header {
  background-color: #333;
  padding: 0 20px;
}

.demo-title {
  color: #f0f0f0;
  display:inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 42px;
  text-decoration: none;
}

.demo-config {
  float: right;
  line-height: 40px;
}

.demo-config input[type="number"] {
  background-color: #555;
  border: none;
  color: white;
  padding: 3px 6px;
  margin-left: 5px;
  max-width: 42px;
}

.demo-config label {
  color: white;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
}

.demo-config input+label {
  margin-left: 12px;
}

.demo-config-grid {
  display: inline-block;
  margin-right: 15px;
}

.demo-grid {
  background-color: #E5E5E5;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
}

.demo-grid-dimensions {
  position: absolute;
  bottom: 0;
  z-index: 15;
  
  background-color: rgba(0, 0, 0, 0.4);
  color: #e0e0e0;
  display: inline-block;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 10px;
}

.demo-btn {
  background-color: rgb(20, 103, 157);
  border: none;
  border-radius: 2px;
  color: #DDD;
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
}

.demo-btn-edit {
  background-color: rgb(59, 100, 127);
  font-size: 12px;
  line-height: 24px;
  width: 66px;
}

.demo-btn-edit:hover {
  background-color: rgb(22, 97, 146);
}

.demo-btn-edit.editing {
  background-color: rgb(20, 103, 157);
}

.demo-btn-add-widget {
  background-color: rgb(59, 100, 127);
  font-size: 12px;
  line-height: 24px;
  margin-right: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.demo-btn-add-widget.inactive {
  background-color: #555;
  cursor: not-allowed;
  opacity: 0.4;
}

.demo-btn-remove-widget {
  position: relative;
  float: right;
  z-index: 30;
  
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.demo-btn-edit.editing:hover,
.demo-btn-add-widget:not(.inactive):hover,
.demo-btn-remove-widget:hover {
  background-color: rgb(0, 145, 240);
  color: white;
}

.demo-greeting {
  color: #f0f0f0;
  font-size: 16px;
  font-weight: 600;
  margin: 20px;
}

@media (max-width: 699px) {
  .hidden-xs {
    display: none;
  }
}
