<div wg-resizer ng-show="editable" class="wg-widget-edit wg-widget-edit-resize">
  <div class="wg-resize wg-resize-axis wg-resize-n"></div>
  <div class="wg-resize wg-resize-axis wg-resize-e"></div>
  <div class="wg-resize wg-resize-axis wg-resize-s"></div>
  <div class="wg-resize wg-resize-axis wg-resize-w"></div>
  <div class="wg-resize wg-resize-diag wg-resize-nw"></div>
  <div class="wg-resize wg-resize-diag wg-resize-ne"></div>
  <div class="wg-resize wg-resize-diag wg-resize-se"></div>
  <div class="wg-resize wg-resize-diag wg-resize-sw"></div>
</div>