<!DOCTYPE html>
<html>
  <head>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../src/js/bootstrap.js"></script>
    <script src="../src/js/services/gridUtil.js"></script>
    <script src="../src/js/services/gridRenderer.js"></script>
    <script src="../src/js/factories/Grid.js"></script>
    <script src="../src/js/factories/GridRendering.js"></script>
    <script src="../src/js/factories/Widget.js"></script>
    <script src="../src/js/directives/wg-widget.js"></script>
    <script src="../src/js/directives/wg-grid.js"></script>
    <script src="basic.js"></script>
    <link rel="stylesheet" href="basic.css"></link>
  </head>
  <body ng-app="widgetGridDemo">
    <div ng-controller="DemoController as demo">
      <div class="demo-config">
        <label for="columns">Columns</label>
        <input type="number" id="columns" min="1" ng-model="demo.columns">
        <label for="rows">Rows</label>
        <input type="number" id="rows" min="1" ng-model="demo.rows">
      </div>
      <wg-grid columns="{{demo.columns}}" rows="{{demo.rows}}" class="demo-grid" id="demo-grid">
        <wg-widget ng-repeat="widget in demo.widgets" position="widget.position">
          <div class="wg-widget-content" ng-style="widget.style">
            <h1 class="demo-widget-title">Hi</h1>
          </div>
        </wg-widget>
      </wg-grid>
      <div class="demo-grid-dimensions">{{demo.gridWidth}} x {{demo.gridHeight}}</div>
    </div>
  </body>
</html>
