<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="lib/angular-widget-grid.min.js"></script>
    <script src="demo.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="lib/angular-widget-grid.css"></link>
    <link rel="stylesheet" href="demo.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>
  <body ng-app="widgetGridDemo">
    <div ng-controller="DemoController as demo">
      <div class="demo-header">
        <a class="demo-title" title="angular-widget-grid on GitHub" href="https://github.com/patbuergin/angular-widget-grid">angular-widget-grid</a>
        <div class="demo-config">
          <div class="demo-config-grid hidden-xs">
            <label for="columns">Columns</label>
            <input type="number" id="columns" min="1" ng-model="demo.columns">
            <label for="rows">Rows</label>
            <input type="number" id="rows" min="1" ng-model="demo.rows">
          </div>
          
          <button title="Add a Widget" class="demo-btn demo-btn-add-widget",
                  ng-show="demo.editable"
                  ng-class="{ inactive: !demo.additionPossible }"
                  ng-click="demo.addWidget()" 
                  ng-mouseenter="demo.options.highlightNextPosition = true"
                  ng-mouseleave="demo.options.highlightNextPosition = false">
            Add Widget
          </button>
          
          <button ng-click="demo.toggleEditable()" class="demo-btn demo-btn-edit" ng-class="{ editing: demo.editable }">
            {{ demo.editable ? "Done" : "Edit" }}
          </button>
        </div>
      </div>

      <wg-grid columns="{{demo.columns}}" rows="{{demo.rows}}" options="demo.options" class="demo-grid" id="demo-grid">
        <wg-widget wg-resizable wg-movable editable="{{demo.editable}}" ng-repeat="widget in demo.greetingWidgets" position="widget.position">
          <div random-bg-color>
            <button title="Remove Widget" class="demo-btn demo-btn-remove-widget" ng-show="demo.editable" ng-click="demo.removeWidget(widget)">&#x2715;</button>
            <p class="demo-greeting">{{widget.text}}</p>
          </div>
        </wg-widget>
        <wg-widget wg-resizable wg-movable editable="{{demo.editable}}" position="{ top: 10, left: 1, width: 8, height: 5 }">
          <youtube id="9rbRwV0T0AQ"/>
        </wg-widget>
      </wg-grid>

      <div ng-hide="demo.editable" class="demo-grid-dimensions">{{demo.gridWidth}} x {{demo.gridHeight}}</div>
    </div>
    
    <!-- suppress iOS' rubber band effect -->
    <!-- c.f. http://stackoverflow.com/a/26853900 -->
    <script>
    var firstMove;
    
    window.addEventListener('touchstart', function (e) {
      firstMove = true;
    });
    
    window.addEventListener('touchmove', function (e) {
      if (firstMove) {
        e.preventDefault();
        firstMove = false;
      }
    });
    </script>
  </body>
</html>
